body {
    background-color: #cec3ff;
}
form{
    margin:auto;
    width: 900px;
    padding: 16px;
    border-radius: 10px;

}
fieldset {
    background-color: #f4f1ed;
    color: black;
    border-color: darkgoldenrod;
    border: 9px groove (internal value);
    border-radius: 7px;
    width: auto;
}

legend {
    text-align: center;
    font-size: 25px;
    color: #e26a00;
    font-weight: bold;
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    color: black;
    border: 1px solid #e26a00;
    padding: 4px;
    border-radius: 9px;
}

h1 {
    font-size: 35px;
    text-align: center;
}
p{
    text-align: justify;
}
.centrado{
    text-align: center;
}
